.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  background-color: #ffff; /* Background color similar to the one in the image */
}

.header-content {
  text-align: center;
}
.billgates-image {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  border-radius: 50%; /* Makes the image circular */
}
.header-title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Change the text color as needed */
}
